/* styles/global.css */
body {
    font-family: 'Arial', sans-serif;
  }
.center {
  margin-left: auto;
  margin-right: auto;
}

.row {
  margin-left:-5px;
  margin-right:-5px;
}
  
.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.parent {
  background: gray;
  height: 300px;
  width: 300px;
  position: relative;
}

.child {
  background: orange;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;
}

/*Navigation*/
.navbar {
  background-color: #1f2833;
  color: white;
}

nav {
  background-color: #333;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
}

.nav-buttons {
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  width: 5%;
  height: fit-content;
}

.nav-buttons:hover {
  background-color: rgba(255, 255, 255, 0.336);
}

router-link {
  color: white;
  text-decoration: none;
}

router-link:hover {
  text-decoration: aquamarine;
}

/*Header Section*/
.my-name {
  color: #66fcf1;
  font-size: 450%;
  margin-bottom: 0%;
}
.my-occupation {
  color: white;
  font-size: 200%;
}
.home-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2%;
  background-color: #0f141a;
  margin-bottom: 0%;
}

.text-container {
  flex: 1; /* Take up remaining space in the container */
}

.photo-container {
  /* width: 300px; Adjust the width as needed */
  /* border-style: dotted;
  border-color: red; */
  padding-left: 5%;
  padding-right: 5%;
  margin: auto;
}

img {
  object-fit: cover;
}

#biography {
  color: white;
  font-size: x-large;
  text-align: justify;
}

/*Style for skills section*/
.skills-container {
  /* background-color: rgba(255, 68, 0, 0.167); */
  background-color: #283341;
}

.rounded-container {
  width: 180px;
  height: 80px; 
  color: white;
  border-radius: 40px;
  font-weight: bold;
}

.research-skills {
  background-color: orangered;
  line-height: 80px;
}

.research-skills p {
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}

.soft-skills {
  background-color: teal;
  line-height: 80px;
}

.skills-header {
  color: white;
  text-align: center;
  font-family: sans-serif;
  font-size: 250%;
}

.skills-title {
  color: white;
  font-size: 30px;
  font-weight: bold;
}


table.skills-table {
  width: 100%;
  padding: 10px;
}

.skills-img {
  width: 100px;
  height: 100px;
}
.skills-table td {
  /*border: 1px solid white;*/
  text-align: center;
}

.skills-table th {
  /*border: 1px solid white;*/
  text-align: center;
}

.skills-program {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

th, td {
  padding: 10px;
  /* border: 3px solid black; */
}

td.skills-research {
  margin: auto;
  height: auto;
  display: auto;
  /* centering the button */
  align-items:center;
  justify-content: center;
}

/* Add additional styling for text, links, and photo as needed */
h1 {
  font-size: 24px;
}

/*p {
  font-size: 16px;
  margin-bottom: 10px;
}*/

.contact-button {
  width: 150px; 
  height: 50px; 
  font-size: large;
  font-weight: bold; 
  border-radius: 30px;
  background-color: #1f2833;
  border-color: white;
  border-width: 3px;
  color: white;
}

.contact-button:hover {
  background-color: rgba(255, 255, 255, 0.235);
  border-color: rgba(255, 255, 255, 0.235);
  font-weight: 500;
}

/* router-link {
  display: inline-block;
  background-color: #333;
  color: white;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
}

router-link:hover {
  background-color: #555;
} */

footer {
  text-align: center;
  width: 100%;
}
input[type=text] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 100%;
}
